.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.center-content {
  height: 100%;
  align-items: center;
  justify-content: center;
}

.task-container {
  height: calc(100% - 4em);
  align-items: center;
  justify-content: center;
  padding: 2em;
  margin: 2em 0 2em 2em;
  background-image: url('./teacher/strek.PNG');
  background-repeat: repeat;
  max-width: 700px;
}

.submit-answer-button {
  margin-top: 1em;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
  animation-duration: 1s;
  
  /* non-breaking: */
  height: 100%;
  width: 100%;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

code {
  background-color: #002240;
}

.button-image {
  background: none;
  border: none;
  position: absolute;
  top: 40%;
  left: 40%;
}

.button-image:focus {
  border: none;
}

.akepott-image {
  background: none;
  border: none;
  position: absolute;
  bottom: 0;
  left: 40%;
}

img.glitter-star {
  position: absolute;
  height: 16px;
  width: 16px;

  animation: glitter 2s linear 0s infinite normal;
  -webkit-animation: glitter 2s linear 0s infinite normal;
  -moz-animation: glitter 2s linear 0s infinite normal;
  -ms-animation: glitter 2s linear 0s infinite normal;
  -o-animation: glitter 2s linear 0s infinite normal;
}

@keyframes glitter {
  0% {
    -webkit-transform: scale(1.0);
    opacity: 1;
  }
  25% {
    -webkit-transform: scale(0.5);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.0);
    opacity: 1;
  }
  75% {
    -webkit-transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 1;
  }
}

.lekser-container {
  padding: 0 2em;
}